body .blog-section .featured-image {
	width: 100%;
	overflow: hidden;
}
body .blog-section .featured-image img {
	display: block;
	width: 100% !important;
	transition: .9s;
	height: auto;
	max-height: 300px;
	object-fit: cover;
}
body .blog-section .blog-title h2{
	font-size:24px;
}
.blog-4-date p {
	line-height: 0px;
	text-transform: capitalize;
	font-size: 24px;
}

.blog-4-date {
	background-color: orange;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 30px;
	text-align: center;
	padding: 0px 20px;
	z-index: 1;
}
.blog-4-date .date-by-day h3{
	font-size: 24px;
	color:#fff;
	margin: 20px 0px;
}

.blog-4-date .date-by-month p{
	font-size: 14px;
	color:#fff;
	padding-bottom: 14px;
	font-weight: 700;
}

.blog-4-text a {
	font-weight: bold;
	font-size: 18px;

}

body .blog-section .blog-title h2 {
	padding: 15px;
	margin: 0px;
}

.blog-secription {
	padding: 15px;
}

.blog-4-text {
	background-color: #fff;
}