/****** Header css  ********/
.ebl-header {
    background: #fff;
    padding-top: 4px;
    margin-top: 18px;
    padding: 30px 0px;
}
.ebl-header h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 15px;
    margin: 0px;
}
.ebl-header .ebl-col-md-12 {
    margin: 0px;
}
/******* Header css end ********/

/****** Blog selection css  ********/
.blog-selection h2 {
    text-transform: uppercase;
    padding: 16px;
    font-size: 23px;
}
.blog-selection ul li {
    position: relative;
}
.blog-selection ul li input.blog-style-selection {
    position: absolute;
    left: 6px;
}
.blog-selection .ebl-row input#blog-style-admin {
    position: absolute;
    left: 20px;
    top: 45px;
}
.blog-selection ul li {
    display: inline-block;
    padding-left: 50px;
    padding-bottom: 24px;
}
.blog-selection ul li img {
    height: 100px;
    margin: 0 auto;
    display: table;
}
.blog-selection ul li p{
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
/****** Blog selection css end  ********/

/****** Generate shortcode css  ********/
.generate-shortcode {
    margin-top: 20px;
    margin-bottom: 20px;
}
.generate-shortcode button {
    background: #46B450;
    padding: 14px 40px;
    border-radius: 6px;
    border: 1px solid #46B450;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.generate-shortcode {
    margin-top: 20px;
    margin-bottom: 20px;
}   
.ebl-blog-shortcode {
    margin: 47px 0px;
    display: none;
}
.ebl-blog-shortcode span {
    width:70%;
    display: inline-block;
    background: #c7c7c7;
    padding: 20px 20px 20px 20px;
    color: #000;
    font-weight: 600;
    border-radius: 3px;
}
.ebl-blog-shortcode p.copy-disclaimer {
    font-size: 14px;
    font-style: italic;
    color: #808080;
    margin: 0px;
}
.ebl-blog-shortcode .copy-icon:after {
    content: "Copy";
    font-size: 12px;
    text-align: center;
    position: absolute;
}
.ebl-blog-shortcode .copy-icon {
    background: transparent;
    position: relative;
    color: #847c7c;
    cursor: pointer;
}
span#copy-btn {
    width: 10%;
    padding-top: 20px;
    display: inline-block;
}
/****** Generate shortcode css end  ********/


/* Ressponsive */

@media (max-width:1024px){
    .blog-selection ul li {
        display: inline-block;
        padding-left: 10px;
        padding-bottom: 24px;
        width: 48%;
    }
}

@media(max-width:480px){
    .ebl-header  .ebl-col-md-1{
        display:none;
    }
    .ebl-header h1 {
        font-size: 30px;
        padding-left: 14px;
    }
    .blog-selection ul li {
        width: 100%;
    }
    .ebl-blog-shortcode span {
        width: 100%;
        display: inline-block;
        font-size: 12px;
    }
    .ebl-blog-shortcode p.copy-disclaimer {
        margin: 22px 0px;
    }
    .ebl-blog-shortcode .copy-icon {
        display: none;
    }
}

@media (max-width:411px){
    .ebl-header h1 {
        font-size: 22px;

    }
    .ebl-blog-shortcode span {
        width: 100%;
        font-size: 8px;
    }
}
